fieldset {
    background-color: #f9f9f9;
    padding:15px;
}

legend {
    font-weight: bold;
}

.field-block {
    margin: 5px 0;
    display:flex;
    justify-content: space-between;
}

.field-elem {
    width: 600px;
    display:flex;
    justify-content: left;
}

.field-label {
    font-weight: bold;
}
