#fields-filter {
	margin-bottom: .25em;
	width: 100%;
}

#field-options > div {
	display: inline-block;
	margin: 1em 0;
}

#field-list {
	overflow-y: scroll;
}

#field-list .block-icons {
	display: none;
}

#build-label {
	background-color: #C8C8C8;
	grid-column: 1/2;
	padding: .5em;
	margin-top: 1em;
}

#build-label li .block-icons {
	font-size: 12px;
	padding-left: 6px;
}

#build-label > li span.block-icons:hover {
	background-color: none !important;
}

#build-label .delimiter {
	height: 1em;
}

#label-middle {
	margin-top: 10px;
}

#label-middle > .field-block {
	border: 2px dashed black;
	min-height: 2em;
	line-height: 10px;
	text-align: left !important;
	margin: 10px 0;
	padding: 5px;
}

#label-middle .draggable {
	font-family: inherit !important;
	font-size: normal !important;
	font-weight: 400 !important;
	font-style: normal !important;
	text-transform: none !important;
	float: none !important;
}

.field-block.container.selected {
	background-color: #99ffcc;
}

#preview-label {
	border: 1px solid gray;
	min-height: 100px;
	padding: .5em;
}

#preview-label .field-block {
	line-height: 1.1rem;
	overflow: auto;
}

#preview-label > .field-block > div {
	display: inline;
}

#field-block-options {
	margin-top: 2em;
}

li {
	list-style-type: none;
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	font: inherit;
	line-height: 1;
	margin: .5em;
	padding: .25em .5em;
}

button.btn:hover {
	background-color: #a8a7a7;
}

button.btn:focus {
	outline: 0;
}

.field-block > span.block-icons.disabled {
	color: gray;
	cursor: not-allowed;
}

span.block-icons {
	cursor: pointer;
}

.draggable.selected {
	background-color: #99ffcc;
	color: black;
	border: 1px solid #fff;
}

.drag-icon {
	background-color: #fff;
	cursor: move;
}

[data-category=record-level] {
	background: #d5512d;
	border: 2px solid #d5512d;
}

[data-category=occurrence] {
	background: #0da827;
	border: 2px solid #0da827;
}

[data-category=event] {
	background: #077eb6;
	border: 2px solid #077eb6;
}

[data-category=location] {
	background: #1c4eda;
	border: 2px solid #1c4eda;
}

[data-category=identification] {
	background: #ee7bc8;
	border: 2px solid #ee7bc8;
}

[data-category=taxon] {
	background: #952ed1;
	border: 2px solid #952ed1;
}

.draggable.dragging {
	opacity: 1;
}

fieldset{
	border:1px solid black;
	padding: 5px;
}
