/*
******COLOR THEME*******
Shadow: #2E4107
Midtone: #798C1F
Highlight: #E5CFB4
Accent: #E52A4D
 */

/* source-sans-pro-200italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	src: url('fonts/source-sans-pro-v14-latin-200italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-200italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-200italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-200 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/source-sans-pro-v14-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-200.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/source-sans-pro-v14-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
	src: url('fonts/source-sans-pro-v14-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-300italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/source-sans-pro-v14-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-600.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/source-sans-pro-v14-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	src: url('fonts/source-sans-pro-v14-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-600italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/source-sans-pro-v14-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-700italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/source-sans-pro-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900italic - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 900;
	src: url('fonts/source-sans-pro-v14-latin-900italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-900italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-900italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/source-sans-pro-v14-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-sans-pro-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-sans-pro-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-900.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-sans-pro-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-sans-pro-v14-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-serif-pro-200 - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/source-serif-pro-v11-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-200.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-200.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-200italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 200;
	src: url('fonts/source-serif-pro-v11-latin-200italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-200italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-200italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-300italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 300;
	src: url('fonts/source-serif-pro-v11-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-300italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-300 - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/source-serif-pro-v11-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-300.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-300.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-regular - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/source-serif-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-regular.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/source-serif-pro-v11-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-600 - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/source-serif-pro-v11-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-600.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-600.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-600italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 600;
	src: url('fonts/source-serif-pro-v11-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-600italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-700 - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/source-serif-pro-v11-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-700.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-700italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/source-serif-pro-v11-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-700italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-900 - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/source-serif-pro-v11-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-900.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-900.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-900italic - latin */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 900;
	src: url('fonts/source-serif-pro-v11-latin-900italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('fonts/source-serif-pro-v11-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/source-serif-pro-v11-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-900italic.woff') format('woff'), /* Modern Browsers */
	url('fonts/source-serif-pro-v11-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/source-serif-pro-v11-latin-900italic.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
body {
	font-family: 'Source Sans Pro';
	background-color: #2E4107;
}
.title {
	font-weight: bold;
}

#appContainer{
	display: block;
	width: 80%;
	min-width:950px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: #F6F6F6;
}

#bannerContainer{
	clear: both;
	padding: 10px 25px;
	height: 120px;
	display: flex;
	background-color: #F6F6F6;
	justify-content: flex-start;
	align-items: center;
}

#mainContainer{
	min-height:400px;
	background-color: #F6F6F6;
	font-family: 'Source Sans Pro';
}

#breadcrumbs {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 10px;
	margin-bottom: 0;
}

#breadcrumbs {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 10px;
	margin-bottom: 0;
	font-family: 'Source Sans Pro';
	font-variant: small-caps;
}
#breadcrumbs a, #breadcrumbs a:hover {
	font-family: 'Source Sans Pro';
	font-variant: small-caps;
}

h1{
	font-family: 'Source Serif Pro';
}

h2{
	font-family: 'Source Serif Pro';
}

h3{
	font-family: 'Source Serif Pro';
}

h4{
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

h5{
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

#topNavigation {
	clear:both;
	background-color:#798C1F;
}
.horizontalDropDown{
	width:auto;
	background-color:#798C1F;
	font-family: 'Source Sans Pro';
	color: white;
	margin: 0;
	padding: 0;
	clear:both;
}
.horizontalDropDown a{
	color: white;
	text-decoration: none;
}
.horizontalDropDownButton, .horizontalDropDownIconButton{
	background-color: #798C1F!important;
	text-decoration: none;
	color: white;
}
.horizontalDropDownButton:hover, .horizontalDropDownIconButton:hover{
	background-color: #E5CFB4!important;
	color: black;
	text-decoration: none;
}
.horizontalDropDownButton i {
	display: none;
}
.header-username-text {
	margin-right: 15px;
}
.footerContainer{
	clear: both;
	height: 40px;
	width: 100%;
	background-color: #F6F6F6;
	margin-bottom: 25px;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
