body {
    background-color: #A8A38E;
    font-size: 16px;
    line-height: 18px;
    font-family: arial, helvetica, sans-serif;
}
.title {
    font-weight: bold;
}

#appContainer{
    display: block;
    width: 80%;
    min-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #333333;
}

#bannerContainer{
    background-color: #000000;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 15px;
}

.banner-image-box {
    margin: 23px 8px 23px 8px;
    border: 2px solid white;
}

.banner-image {
    width: 100px;
}

#breadcrumbs {
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 10px;
    margin-bottom: 0;
}

#mainContainer{
    font-size: 18px;
    z-index: 1;
}

#topNavigation {
    clear: both;
    background-color:#c2c2c2;
}
.horizontalDropDown{
    width:auto;
    background-color: #5E7630;
    color: white;
    margin: 0;
    padding: 0;
    clear:both;
}
.horizontalDropDown a{
    color: white;
    text-decoration: none;
}
.horizontalDropDownButton, .horizontalDropDownIconButton{
    background-color: #5E7630!important;
    text-decoration: none;
    font-size: 100%;
}
.horizontalDropDownButton:hover, .horizontalDropDownIconButton:hover{
    background-color: #B9661A!important;
    color: #000000;
    text-decoration: none;
}
.horizontalDropDownButton i {
    display: none;
}
.header-username-text {
    margin-right: 15px;
}
