body{
	width: 1100px;
	min-width:950px;
	margin-top:0;
	background-color:#728099;
	font-family: arial, helvetica, sans-serif;
}

.title {
	font-size: 40px;
	font-weight: bold;
}

#mainContainer{
	display: block;
	width: 100%;
	background-color:#FFFFFF;
	border:1px solid #333333;
	border-spacing: 0;
}

#bannerContainer{
	clear: both;
	padding: 40px;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color:#026B6E;
	color: white;
}

#bannerDiv {
	position: relative;
	max-width: 1100px;
	height: 325px;
	background: url(../images/layout/Image01.JPG) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

#innertext{
	width: 80%;
	min-height:400px;
	margin: 0 auto;
	padding: 10px 15px 15px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:14px;
}

div.navpath {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 10px;
	margin-bottom: 0;
}

#topNavigation {
	clear:both;
	background-color:#4472C4;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

#rightNavigationLinks{
	display: flex;
	align-items: center;
}

#rightNavigationLinks a{
	color: white;
}

#rightNavigationLinks span{
	margin-right: 15px;
}
#horizontalDropDown{
	list-style:none;
	width:auto;
	background-color:#4472C4;
	margin: 0;
	padding: 0;
	color: white;
}
#horizontalDropDown li{
	float:left;
	position:relative;
	padding:0;
	margin:0;
}
#horizontalDropDown a{
	display:block;
	color: white;
	text-decoration: none;
	padding: 20px 15px;
}
#horizontalDropDown a:hover{
	background-color:#B27A00;
}
/* Submenu */
#horizontalDropDown ul {
	list-style:none;
	position:absolute;
	left:0;
	top: 53px;
	padding:0;
	z-index:1000;
	background-color:#4472C4;
	visibility: hidden;
	opacity: 0;
	transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
}
#horizontalDropDown ul li{
	float:none;
}
#horizontalDropDown ul a{
	white-space:nowrap;
	padding: 10px 15px;
	text-decoration:none;
	text-indent:8px;
}
#horizontalDropDown li:hover ul {
	visibility: visible;
	opacity: 1;
}
#horizontalDropDown li:hover ul a {
	text-decoration:none;
	text-indent:8px;
	padding: 10px 15px;
	background-color:#4472C4;
	z-index:1000;
}
#horizontalDropDown li:hover ul li a:hover {
	background-color:#B27A00;
}
/* Submenu to right */
#horizontalDropDown li ul li ul {
	visibility: hidden;
	opacity: 0;
	transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out, visibility .75s ease-in-out;
}
#horizontalDropDown li ul li:hover ul {
	left:100%;
	top: 0;
	visibility: visible;
	opacity: 1;
	padding:0;
	z-index:1000;
}
#horizontalDropDown li ul li:hover ul a {
	text-decoration:none;
	text-indent:8px;
	padding: 10px 15px;
	background-color:#4472C4;
	z-index:1000;
}
#horizontalDropDown li ul li:hover ul li a:hover {
	background-color:#B27A00;
}

/* Quick Search Plugin */
#quicksearchtext{
	margin-top:0;
	padding-bottom:0;
	float: left;
}

#quicksearchbutton{
	margin-left:10px;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;
	float: left;
}

#quicksearchtaxon{
	width: 250px;
	float: left;
	margin-bottom:0;
	padding-bottom:0;
	font-family: Arial, Helvetica, sans-serif;
}

.quicksearchselectorcontainer {
	height: 20px;
	width: 300px;
	font-size: 16px;
	display: flex;
	justify-content: space-evenly;
}

.quicksearchselectorcontainer input[type="checkbox"]:not(:checked),
.quicksearchselectorcontainer input[type="checkbox"]:checked {
	position: absolute;
	opacity: 0;
}

.quicksearchselectorcontainer input[type="checkbox"].switch + div {
	width: 1.8em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 auto .8em;
	background: #888 linear-gradient(rgba(0, 0, 0, .4), transparent);
	background-origin: border-box;
	background-clip: border-box;
	box-shadow: 0 1px 1px hsla(0,0%,100%,.8);
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:checked + div {
	padding-left: .8em;
	width: 1em;
}

.quicksearchselectorcontainer input[type="checkbox"].switch + div:before {
	content: '';
	display: block;
	width: 1em; height: 1em;
	margin: -1px;
	border: 1px solid rgba(0,0,0,.7);
	border-radius: inherit;
	background: #c4c4c4 linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
	box-shadow: 0 0 .5em rgba(0,0,0,.5),
	0 .2em hsla(0,0%,100%,.3) inset,
	0 -.1em .3em hsla(0,0%,0%,.2) inset;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:active + div:before {
	background-color: #aaa;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:focus + div {
	box-shadow: 0 0 .3em 1px red,
	0 1px 1px hsla(0,0%,100%,.8);
}

.taxon-desc-tab-text {
	font-size: 14px;
}

div.spptab{
	height:		200px;
	width:		500px;
	overflow: 	auto;
}
