html {
	font-size: 90%;
}

body{
	background-color:#9EBC7B;
}

#mainContainer{
	background-color:#FFFFFF;
	display: block;
	width: 80%;
	min-width:950px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	font-family: Verdana, Geneva, sans-serif;
}

#bannerContainer{
	color:#FFFFFF;
	background-color:#EEE4CE;
	text-align:left;
	padding:0;
	border-bottom:1px solid #333333;
	clear: both;
}

#innertext{
	min-height:400px;
	margin: 0 auto;
	padding: 10px 15px 15px;
}

a{
	color: 		#610F86;
	text-decoration: none;
}

div.navpath {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 10px;
	margin-bottom: 0;
}

#topNavigation {
	clear:both;
	background-color:#c2c2c2;
	border-bottom: 1px solid black;
}
.horizontalDropDown{
	width:auto;
	background-color:#c2c2c2;
	margin: 0;
	padding: 0;
	clear:both;
}
.horizontalDropDown a{
	color:#000000;
	text-decoration: none;
}
.horizontalDropDownButton, .horizontalDropDownIconButton{
	background-color: #c2c2c2!important;
	text-decoration: none;
}
.horizontalDropDownButton:hover, .horizontalDropDownIconButton:hover{
	background-color: #999999!important;
	text-decoration: none;
}
.horizontalDropDownButton i {
	display: none;
}
.header-username-text {
	margin-right: 15px;
}

/* Quick Search Plugin */
#quicksearchtext{
	margin-top:0;
	padding-bottom:0;
	float: left;
}

#quicksearchbutton{
	margin-left:10px;
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;
	float: left;
}

#quicksearchtaxon{
	width: 250px;
	float: left;
	margin-bottom:0;
	padding-bottom:0;
	font-family: Arial, Helvetica, sans-serif;
}

.quicksearchselectorcontainer {
	height: 20px;
	width: 300px;
	display: flex;
	justify-content: space-evenly;
}

.quicksearchselectorcontainer input[type="checkbox"]:not(:checked),
.quicksearchselectorcontainer input[type="checkbox"]:checked {
	position: absolute;
	opacity: 0;
}

.quicksearchselectorcontainer input[type="checkbox"].switch + div {
	width: 1.8em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 auto .8em;
	background: #888 linear-gradient(rgba(0, 0, 0, .4), transparent);
	background-origin: border-box;
	background-clip: border-box;
	box-shadow: 0 1px 1px hsla(0,0%,100%,.8);
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:checked + div {
	padding-left: .8em;
	width: 1em;
}

.quicksearchselectorcontainer input[type="checkbox"].switch + div:before {
	content: '';
	display: block;
	width: 1em; height: 1em;
	margin: -1px;
	border: 1px solid rgba(0,0,0,.7);
	border-radius: inherit;
	background: #c4c4c4 linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0));
	box-shadow: 0 0 .5em rgba(0,0,0,.5),
	0 .2em hsla(0,0%,100%,.3) inset,
	0 -.1em .3em hsla(0,0%,0%,.2) inset;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:active + div:before {
	background-color: #aaa;
}

.quicksearchselectorcontainer input[type="checkbox"].switch:focus + div {
	box-shadow: 0 0 .3em 1px red,
	0 1px 1px hsla(0,0%,100%,.8);
}

#key-couplet {
	margin:10px 20px 10px 20px;
}
#key-taxon {
	width:90%;
	margin: 10px 20px 10px 2em;
	text-align:right;
	font-style:italic;
}
#key-taxon a{
	text-decoration:underline;
}

.footer{
	position: relative;
	clear:both;
	background-color:#7d9462;
	padding-top:5px;
	padding-bottom:5px;
}

.key {
	max-width:1000em;
	padding:0;
	overflow-x: hidden;
	list-style:none;
}

.key li:after {
	float:left;
	width:0;
	white-space:nowrap;
	content:"................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
}

.key span:first-child {
	padding-right:0.33em;
	background:white;
}

.key span + span {
	float:right;
	padding-left:0.33em;
	background:white;
	position:relative;
	z-index:1;
}

.link{
	color:blue; font-style:italic;
}
.nextstep{
	font-weight:bold;
}

#num{
	font-weight:bold;
}

#brlarge {
	display: block;
	margin-bottom: 3em;
}

#brsmall {
	display: block;
	margin-bottom: 1em;
}

ul.key span.link a {
	color: blue;
	text-decoration: underline;
}
