/** GENERAL STYLES **/
a {
  color: #37925d;
}

/* Menu links mini bar */
#uw-top-menus.uw-horizontal .uw-nav-menu.uw-nav-menu-reverse > ul > li.current-menu-item > a {
  border-bottom: 0.2rem solid #37925d !important;
}

/* Menu links dropdown arrow */
#uw-top-menus .uw-nav-menu.uw-nav-menu-reverse svg.uw-caret {
  fill: #37925d !important;
}

/* H2 before card mini bars */
.uw-mini-bar:before {
  background-color: #494949 !important;
}

/* H2 before mini bars */
.uw-mini-bar-center:before {
  background-color: #37925d !important;
}


/* Buttons */
.uw-button {
  background-color: #494949 !important;
}

/***************************************/

/** UW TOP BAR **/
.uw-global-bar, .uw-header, #uw-top-menus.uw-horizontal .uw-nav-menu.uw-nav-menu-secondary > ul > li > a {
  background-color: black !important;
}

/** TITLE HEADER **/
.uw-header-container {
  background-color: black;
  padding: 3rem 0 !important;
}

#site-title, .uw-site-title a {
  color: white !important;
}

#site-description, .uw-site-tagline {
  color: #adadad;
}

/** HEADER QUICKSEARCH **/
.uw-search-input[type="text"] {
  font-size: x-small;
}

/** ADMIN/LOGIN MENU **/
#right_navbarlinks {
  background-color: #f7f7f7;
}

.uw-nav-menu > ul {
  list-style: none;
  padding: 1rem 0;
  text-align: right;
}

.uw-nav-menu > ul li {
  display: inline-block;
  padding: 0 1.5rem;
  margin: 0;
}

/** MAIN CONTAINER **/
.uw-body p {
  font-family: Verlag !important;
  -webkit-font-smoothing: auto;
}
#innertext {
  margin: 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  max-width: 968px;
  padding: 0 1rem;
}

@media screen and (max-width: 40.063em) {
  #innertext h1, #innertext p {
    max-width: 90%;
  }
}

#innertext li, #innertext dd, #innertext dt {
  /*font-family: Georgia, Times New Roman, Times, serif;*/
  font-family: Verlag;
  -webkit-font-smoothing: auto;
}

#innertext:first-child:last-child {
  flex-basis: 100%;
  max-width: 100%;
  padding-top: 0;
}

#innertext h2.uw-mini-bar {
  margin-top: 3.2rem;
}

@media screen and (min-width: 40em) {
  #innertext:first-child:last-child {
    flex-basis: 100%;
    max-width: 100%;
  }
}


/** HOME HERO **/
#home-hero {
  height: 380px;
  width:  auto;
  background-color: black;
  background-image: url("../images/hero2.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

/** SEARCHES **/
#home-searches i:before, #home-browse i:before {
  font-size: 6em;
  padding: 1rem 0;
}

#quicksearchdiv {
  border: none !important;
}

/** HOME SLIDER **/
.slide {
  background-color: #37925d !important;
  margin-left: 0;
}

.slide img {
  width:  100%;
}

.four.columns.slide-description {
  color: white;
  background-color: #37925d !important;
  margin-left: 0;
  padding: 1% 2%;
  height: 316px;
  text-align: center;
}

/** ABOUT THE PORTAL **/
#home-about button {
  text-align: center;
  margin: 0 auto;
}

/** MUSEUMS **/

/* Alternating boxes taken from UW WP Theme */
.alternating-content {
  background-color: #fff;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
.alternating-content:first-of-type {
  margin-top: 2rem; }
.alternating-content .alternating-content-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
.alternating-content .alternating-content-box:last-of-type {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }
@media screen and (max-width: 39.9375em) {
  .alternating-content .alternating-content-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    max-width: 100%; } }
.alternating-content .alternating-content-box > div {
  padding: 1rem 1.5rem 3rem; }
.alternating-content .alternating-content-box h3 {
  color: #c5050c; }
.alternating-content .alternating-content-box p + .uw-link-list {
  margin-top: 0; }
.alternating-content .alternating-content-box p {
  color: #494949 !important; }
.alternating-content .alternating-content-box a {
  color: #0479a8 !important;
  text-decoration: none !important; }
@media print, screen and (min-width: 40em) {
  .alternating-content:nth-of-type(even) {
    background: #f2f2f2; }
  .alternating-content .alternating-content-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-right: 0;
    padding-left: 0;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .alternating-content .alternating-content-box:last-of-type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 0;
    padding-left: 0;
    max-width: 33.33333%; }
  .alternating-content .alternating-content-box p + .uw-link-list {
    margin-top: 2rem; } }
@media screen and (min-width: 56.25em) {
  .alternating-content:nth-of-type(even) {
    background: #fff; }
  .alternating-content .alternating-content-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 0;
    padding-left: 0;
    max-width: 50%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .alternating-content .alternating-content-box:last-of-type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 0;
    padding-left: 0;
    max-width: 50%; }
  .alternating-content .alternating-content-box > div {
    padding: 1rem; }
  .alternating-content:nth-of-type(odd) .alternating-content-box:first-of-type {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; } }
@media print, screen and (min-width: 64em) {
  .alternating-content .alternating-content-box > div {
    padding: 2rem 4rem; } }
