body {
	font-size: 16px;
}
.title {
	font-weight: bold;
}

#appContainer{
	display: block;
	width: 80%;
	min-width:950px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#bannerContainer{
	clear: both;
	padding: 40px;
	height: 200px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color:#026B6E;
	color: white;
}

#breadcrumbs {
	padding-top: 8px;
	padding-bottom: 0;
	padding-left: 10px;
	margin-bottom: 0;
}

#topNavigation {
	clear:both;
	background-color:#c2c2c2;
}
.horizontalDropDown{
	width:auto;
	background-color:#c2c2c2;
	margin: 0;
	padding: 0;
	clear:both;
}
.horizontalDropDown a{
	color:#000000;
	text-decoration: none;
}
.horizontalDropDownButton, .horizontalDropDownIconButton{
	background-color: #c2c2c2!important;
	text-decoration: none;
	font-size: 100%;
}
.horizontalDropDownButton:hover, .horizontalDropDownIconButton:hover{
	background-color: #999999!important;
	text-decoration: none;
}
.horizontalDropDownButton i {
	display: none;
}
.header-username-text {
	margin-right: 15px;
}
