#mapscale_us {
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 25px;
	right: 0;
	color: white;
}

#mapscale_metric {
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}

#mapcoords {
	height: 25px;
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	color: white;
	background: inherit;
}

#mapinfo {
	bottom: 30px;
	right: 40px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 200px;
	height:55px;
	z-index: 3;
	font-family: Arial, serif;
	-moz-border-radius: 5px ! important;
	border-width: 1px 1px 0 0;
	background-color: #3c668d;
	opacity: 0.85;
}

#maptoolcontainer {
	position: relative;
	top: 0;
	height: 25px;
	padding: 5px 5px 5px 10px;
	display: block;
	font-family: Arial, sans-serif;
	-moz-border-radius: 5px ! important;
	border-width: 1px 1px 0 0;
	background-color: #3c668d;
}

#basecontrol {
	position: relative;
	left: 20px;
	height:25px;
	margin-left: 10px;
}

.maptext, .maptext a{
	margin-right: 5px;
	color: white;
}

.ol-attribution{
	display: none;
}

.ol-scale-line {
	background-color: #3c668d;
}

.ol-zoom {
	top: 42px;
	left: auto;
	right: .5em;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 270px;
}
.ol-popup-finder {
	min-width: 100px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 8px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}

.mapbody:-moz-full-screen {
	height: 100%;
}
.mapbody:-webkit-full-screen {
	height: 100%;
}
.mapbody:-ms-fullscreen {
	height: 100%;
}
.mapbody:fullscreen {
	height: 100%;
}
#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
	top: 43px;
	left: auto;
	right: .5em;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
	top: 272px;
	left: auto;
	right: .5em;
}
