#img-div{
	margin-top: 15px;
	width: 100%;
	display: none;
	clear: both;
}

#imagebox{
	padding:		10px 2px 10px 2px;
}

#spptaxonbox{
	margin-top:		10px;
}

#imgphotographer{
	text-align:		right;
	position:		relative;
	top:			-26px;
	left:			5px;
}

div.sptab{
	height:		340px;
	width:		92%;
	overflow: 	auto;
}

div.spptab{
	height:		340px;
	width:		92%;
	overflow: 	auto;
}

#img-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

div.spptaxon{
	text-align: 	center;
	width:			170px;
	float:	 		left;
	border: 		1px dotted gray;
	margin:			3px;
}

div.sppimg{
	margin-left: 	auto;
	margin-right: 	auto;
	height:			150px;
	overflow:		hidden;
}

div.sppimg img{
	margin: 5px auto;
	border:			1px dotted gray;
	height:			135px;
}

div.sppmap{
	margin: 2px auto;
	border: 	0;
	width: 	160px;
	height:	160px;
	text-align: center;
}

div.sppmap img{
	max-width: 130px;
	max-height:	120px;
	margin: 0 auto;
	border: 1px dotted black;
}

div.sppmap a{
	border: 1px solid #0000ff;
}

div.spptext{
	font-weight:		bold;
	margin-left:		auto;
	margin-right:		auto;
	margin-top:			7px;
	padding-top:		25px;
	padding-bottom:		50px;
	border:				1px dotted grey;
	width:				125px;
}

.taxonimage{
	z-index:			-1;
}
