.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/.jsdtscope
.project
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.php.core.prefs
.buildpath
.idea

/config/dbconnection.php
/config/symbini.php
/taxa/includes/config/taxaProfileElementsCustom.php
/taxa/includes/config/taxaProfileTemplateCustom.php
/collections/datasets/dwc
/content
/data
/temp
/webservices/dwc/rss.xml
/docker-compose.yml

/vendor
/composer.lock
/docs/.sass-cache/
/docs/_site/
/docs/Gemfile.lock
