.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/.jsdtscope
.project
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.php.core.prefs
.buildpath
.idea

/collections/editor/includes/config/occurVarDefault.php
/collections/editor/includes/config/occurVarGenObsDefault.php
/config/dbconnection.php
/config/symbini.php
/css/main.css
/taxa/includes/config/taxaProfileElementsCustom.php
/taxa/includes/config/taxaProfileTemplateCustom.php
/footer.php
/header.php
/robots.txt
/index.php
/misc/usagepolicy.php
/data

/vendor
/composer.lock
/docker-compose.yml
/docs/.sass-cache/
/docs/_site/
/docs/Gemfile.lock
