services:
  nginx:
    image: devilbox/nginx-stable:alpine
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile.alpine
    container_name: nginx
    environment:
      - NEW_UID=1000
      - NEW_GID=1000
      - MAIN_VHOST_BACKEND=conf:phpfpm:tcp:php:9000
      - MASS_VHOST_BACKEND_TIMEOUT=7200
    volumes:
      - ./:/var/www/default/htdocs
    networks:
      - symbiota
    ports:
      - 80:80

  php:
    image: devilbox/php-fpm:8.2-work
    container_name: php
    environment:
      - NEW_UID=1000
      - NEW_GID=1000
    volumes:
      - ./:/var/www/default/htdocs
      - ./docker/php-fpm/php-ini-overrides.ini:/etc/php-custom.d/php-ini-overrides.ini
      - ./docker/php-fpm/php-fpm-overrides.conf:/etc/php-fpm-custom.d/php-fpm-overrides.conf
    networks:
      - symbiota

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    command: "--default-authentication-plugin=mysql_native_password"
    volumes:
      - ./docker/mysql/custom.cnf:/etc/mysql/conf.d/custom.cnf
      - ./data/mysql:/var/lib/mysql
    environment:
      - NEW_UID=1000
      - NEW_GID=1000
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=symbiota
    networks:
      symbiota:
        ipv4_address: 172.28.1.1
    ports:
      - 3308:3306

  solr:
    build: ./docker/solr
    container_name: solr
    volumes:
      - ./data/solr:/var/solr/data
    networks:
      symbiota:
        ipv4_address: 172.28.1.2
    ports:
      - 8984:8983

  jekyll:
    build: ./docker/jekyll
    container_name: jekyll
    command: jekyll serve --force_polling
    volumes:
      - ./docs:/srv/jekyll
    ports:
      - 4000:4000

  mailhog:
    build: ./docker/mailhog
    container_name: mailhog
    networks:
      symbiota:
        ipv4_address: 172.28.1.3
    ports:
      - 1025:1025
      - 8025:8025

  adminer:
    image: adminer:4.7
    container_name: adminer
    restart: always
    networks:
      - symbiota
    ports:
      - 8080:8080

networks:
  symbiota:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
